<h1>Reactions#edit</h1>
<p>Find me in app/views/reactions/edit.html.erb</p>

<% if @reaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= @reaction.errors.count %> errors prohibited this book from being saved:</h2>
    <ul>
      <% @reaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', reaction: @reaction %>
