
  <% @reactions.each do |reaction| %>
    <%#= image_tag reaction.get_image(reaction.user_reactions.count*10, reaction.user_reactions.count*10) %>
    <%= image_tag reaction.get_image(300, 300) %>
    <%= reaction.user_reactions.count %>
  <% end %>

  <div id="container">新しいウィンドウを開く</div>
  <%= javascript_pack_tag 'new_window' %>
  