<%= line_chart @reactions.map { |reaction|
    [reaction.name, reaction.user_reactions.count]
} %>


<p>リアクション数: <%= @user_reactions.count %></p>

<% @reactions.each do |reaction| %>
    <p><%= reaction.name %>:<%= reaction.user_reactions.count %></p>
<% end %>


<p>リアクションログ</p>
<%# @user_reactions.each do |user_reaction| %>
    <p><%#= user_reaction.reaction.name %></p>
<%# end %>

<div id='reactions' data-room_id="2">
<button id="reaction" class="favorite styled btn" type="button" value="1">Add to favorites</button>
</div>
